
<html>
  <head>
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
  
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Open+Sans:wght@300;600&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <!-- font stylesheet -->
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Open+Sans:wght@300;600&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- favicons -->
    <link rel="icon" type="image/x-icon" href="images/icon.svg">
    <link rel="icon" href="https://tarune28.github.io/massAcademyImages/logo4.png" type="image/x-icon" >
    <link rel="shortcut icon" href="https://tarune28.github.io/massAcademyImages/logo4.png" type="image/x-icon" >
  
    <title>Modeling-T1-Resting-State-MRI-Variants-Using-Convolutional-Neural-Networks-in-Diagnosis-of-OCD</title>
  </head>
  <!-- <head>
    <title>Tarun Eswar | Home</title>
  
    <!-- META tags for indexing purposes -->
    <!-- code from -->
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My name is Tarun Eswar, and I'm a junior at the Massachusetts Academy of Math & Science @ WPI. Prior to Mass Academy, I was a student at Chelmsford High School where I gained a foundation in the STEM area." >
    <meta name="keywords" content="Tarun, Eswar, mass academy, mass academy 2024, learning, education, collaboration, chelmsford high school, math modeling, MAMS, web developers, WPI" >
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <meta name="google-site-verification" content="9VdBxmPdNGQmemYoZCw96bqUyWf7bmXhgTH514MOC-0" >
    
    <!-- main stylesheet -->
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <!-- font stylesheet -->
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Open+Sans:wght@300;600&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- favicons -->
    <link rel="icon" type="image/x-icon" href="images/icon.svg">
    <link rel="icon" href="https://tarune28.github.io/massAcademyImages/logo4.png" type="image/x-icon" >
    <link rel="shortcut icon" href="https://tarune28.github.io/massAcademyImages/logo4.png" type="image/x-icon" >
  
  
  </head>
<body>

  <nav class="navbar navbar-expand-xl navbar-dark bg-dark py-2 mt-1">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">TRS MRI Application</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav">
      
        <li class="nav-item mx-3">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link active" href="/mdd">MDD</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="/szd">SZD</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="/ocd">OCD</a>
        </li>

  
    </div>
  </nav>

  <div class="jumbotron" style="background-color: #7ED957;">
    <div class="container text-center">
      <img class="img mx-auto img-fluid" src="https://firebasestorage.googleapis.com/v0/b/modeling-t1-resting-state.appspot.com/o/brain.png?alt=media&token=730ebaed-e89f-4759-9623-bb3319186b2d">
      <br>
      
      <h2 class="white">/models/MOBILENET depression resting-state dataset t1 2d.h5</h2>      

    </div>
  </div>


  <section class="container mt-4 pt-5 pb-2">
    <h3 class=" title" data-aos="fade-up" data-aos-delay="0">Overview & Usage</h3>
    <div class="row pb-4" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 mt-4 test1">
        <p>  The MDD model finished with an accuracy of 88.75% with a P-value of 0.043, significant at an alpha level of 0.05. This significance was determined by comparing the model performance to past deep learning networks. Extraction of the final weighted layer allowed for the generation of heatmaps by utilizing the jet function. These mappings demonstrated support for an altered Corpus Callosum based on the weights determined by ImageNet. Alteration of the Corpus Callosum supports recent MDD findings (van Velzen et al., 2020). However, this model size is large and therefore exceeds the ram limit for computation on most computers. Instead, below, another MobileNet model is available for trial (Accuracy 82.19%). The analysis will not be as accurate as ResNet50 due to the model architecture of MobileNet. Certain input sizes may be rejected by the model. (1 voxel @ 244 x 244 is the only allowed input)
        </p>
      </div>
    </div>
  </section>

  <section class="container mt-2 pb-2">
    <h3 class=" title" data-aos="fade-up" data-aos-delay="0">Additional Models</h3>
    <div class="row pb-4" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 mt-4 test1">
        <p>  The models created in this study are publically available below through GitLab. All models info can be found in the Model-Info.tsv file.
        </p>
      </div>
      <ul>
        
        <li><a href="https://gitlab03.wpi.edu/teswar/trs-mri-models/-/tree/main" target="0">NOVEL_depression.h5</a></li>
        <li><a href="https://gitlab03.wpi.edu/teswar/trs-mri-models/-/tree/main" target="0">NOVEL_depressionV2.h5</a></li>
        <li><a href="https://gitlab03.wpi.edu/teswar/trs-mri-models/-/tree/main" target="0">NOVEL_depressionV3.h5</a></li>
        <li><a href="https://gitlab03.wpi.edu/teswar/trs-mri-models/-/tree/main" target="0">MOBILENET_depression.h5</a></li>
        <li><a href="https://gitlab03.wpi.edu/teswar/trs-mri-models/-/tree/main" target="0">MOBILENET_depressionV2.h5</a></li>
        <li><a href="https://gitlab03.wpi.edu/teswar/trs-mri-models/-/tree/main" target="0">RESNET_depression.h5</a></li>
        <li><a href="https://gitlab03.wpi.edu/teswar/trs-mri-models/-/tree/main" target="0">RESNET_depressionR-L.h5</a></li>
      </ul>
    </div>
  </section>


  <section class="container pb-5 mb-5 pb-2">
    <form action = "/predict" method = "post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type = "submit" value="Upload">
  </form>
</div>

  <h4>Result: {{result}}</h4>

  <h4 class="mb-4">Analysis:</h4>

  

  
  <img class="img1 img-fluid {{css}}" src="../static/results/{{filename}}">

  </section>

 

    <!-- <div class="mx-5">
        <form action = "/predict" method = "post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type = "submit" value="Upload">
        </form>
      </div>
      <div class="mx-5">
        <h4>Result: {{result}}</h4>
      </div> -->
      <br>
      <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          Created to supplement the following <a href="https://arxiv.org/abs/2306.12435" target="0">paper</a>.
          <a href="https://github.com/Tarune28">Tarun Eswar, 2023.</a>
          <a href="mailto:teswar@wpi.edu">teswar@wpi.edu</a>
        </div>
        <!-- Copyright -->
      </footer>


</body>
</html>




